{% extends 'layouts.html' %} 
{% block content %} 
{% if notes %} 
{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% for message in messages %} {{ message }} {% endfor%}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
<div class="container mt-2">
  <ul class="list-group">
    {% for note in notes %}
    <li class="list-group-item">
      <a href="/notes/{{note.id}}">{{ note.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<span>No Notes Found</span>
{% endif %} {% endblock %}
